<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Node Blog</h1>
    < <% for(let i = 0; i < posts.length; i++) { %>
    <article>
      <p><%= posts[i].body %></p>
    </article>
    <% } %>
    <form action="addpost" method="POST">
      <textarea name="body" id=""></textarea>
      <input type="submit" value="Add Post" />
    </form>
  </body>
</html>
